{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "react-hooks", "prettier"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "no-console": "off"
  }
}
