{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "no-console": "off",
    "import/extensions": 0,
    "import/no-unresolved": 0
  }
}
